/* Reset de estilos e configuração da fonte padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Definição de variáveis de cor */
:root {
    --corUm: #010FDC;
    --corDois: #0C8EE8;
    --corTres: #750CE8;
    --corQuatro: #0C58F2;
    --corCinza: rgba(240, 255, 255, 0.507);
    --corFundo: rgba(255, 0, 0, 0.11);
    --corTexto: azure;
    --corLi: rgba(255, 0, 0, 0.164);
}

/* Estilos do corpo da página */
body {
    min-height: 100vh;
    background-color: var(--corUm);
    background: url(https://images.unsplash.com/photo-1675516773116-d60902b982e1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80);
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos do título principal */
h1 {
    text-align: center;
    color: var(--corTexto);
}

/* Estilos do contêiner principal */
#container {
    border: solid rgba(240, 255, 255, 0.404) 1px;
    /* box-shadow: rgba(240, 255, 255, 0.404) 0 0 20px 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    backdrop-filter: blur(15px);
    width: 600px;
    max-width: 600px;
    height: 500px;
    border-radius: 15px;
}

/* Estilos do campo de entrada de texto */
#input {
    width: 300px;
    max-width: 300px;
    padding: .6em;
    margin: auto;
    background-color: transparent;
    border: none;
    color: var(--corTexto);
    border-bottom: var(--corTexto) solid 1px;
    outline: none;
}

input:focus {
    color: var(--corTexto);
}

input::placeholder {
    color: var(--corCinza);
}

/* Estilos dos botões Adicionar e Limpar */
#add,
#limpar {
    width: 100px;
    padding: .7em;
    margin: 1em .5em;
    color: var(--corTexto);
    font-weight: bold;
    /* background-color: var(--corQuatro); */
    border: none;
    cursor: pointer;
    border-radius: 5px;
}



/* Estilos da lista de convidados */
.convidados {
    width: 450px;
    max-width: 450px;
    height: 350px;
    max-height: 350px;
    overflow-y: auto;
    /* background-color: var(--corFundo); */
    border-radius: 10px;
}

.convidados::-webkit-scrollbar {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    margin-bottom: 5px;
    padding: 1em;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

ul li button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul li button:hover {
    background-color: #d32f2f;
}

li span {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 300px;
    padding: .7em;
    overflow-x: auto;
}

span p {
    margin-left: 1em;
    text-transform: capitalize;
}

span input[type=checkbox] {
    cursor: pointer;
}

.risk {
    text-decoration: line-through;
}

/* Estilos dos botões de remover */
button {
    background-color: var(--corTexto);
    border: none;
    padding: .5em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}
