/* Estilos para melhorar a aparência */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#weather {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}
#weather-icon {
    max-width: 100px;
}
button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
