/* Estilos para melhorar a aparência */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    min-height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#weather {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}
#weather-icon {
    max-width: 100px;
}
button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(91, 6, 117);
    padding: 3em;
    border-radius: 1em;
    color: white;
}

#nomecity {
    border-radius: 3px;
    padding: .8em;
    border: none;
}

#nomecity:focus {
    outline: none;
}